#header{
	display: inline-block;	
	position: relative;
	color: white;
	width: 100%;
	height: 120px;
	background-color: yellow;

}
#logo p{
	position: absolute;
	font-weight: bold;
	font-family: sans-serif;
	padding-left: 15%;
	font-size: 30px;
	bottom: -13px;
}
#logo{
	position: relative;
	display: inline-block;
	background-color: #7A0A0A;
	height: 70px;
	width: 100%;
	float: left;
	/*padding-right: 10%;*/
}

#logo :hover{
	color: #ff9a9a;
	font-size: 31px;
	transition: 0.8s;
	cursor: pointer;
}

#menu li{
	list-style: none;
	padding:14px 15px;
	font-size: 18px;
	float: left;
	

}
#menu{
	margin-top: 70px;
	/*position: absolute;	*/
	/*display: inline-block;*/
	background-color: #AD1D16;
	padding-left: 11.5%;
	/*margin-bottom: 10px;*/
	height: 50px;
	/*width: 90%;*/
	/*float: left;*/
}

#menu li a{
		text-decoration: none;
		vertical-align: middle;
		color: white;
}


#menu li:hover{
	background-color: #e96060;
	cursor: pointer;
	border-radius: 3px;
	height: 22px;
	text-align: center;
	transition: 0.3s;
}

#ad{
	height: 130px;
	background-color: #EEE;
	position: relative;
    margin-top: -4;
    bottom: 4px;

}
#adimg img{
	
	z-index: 0;
	display: block;
	margin: 0 auto;
    padding-top: 20px;
    z-index: 0;
}

#adimg{
    position: relative;
    
}
#adchoices img{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	padding-right: 27%;
	background-color: #eee;
	opacity: 0.6;
}


/*phần trên đã xong*/





#content{
	width: 70%;
	height: 3000px;
	background-color: pink;
	margin: 0 auto;
	position: relative;
	font-family: arial;
}

 

#lcontent{
	position: absolute;
	/*display: inline-block;*/
	background: green;
	width: 75%;
	height: 3000px;
	float: left;
}

.hot{
	position: relative;
	width: 100%;
	height: 200px;
}
.hottit{
	position: absolute;
	display: inline-block;
	width: 98%;
}
.hotimg{
	position: absolute;
	display: inline-block;
	width: 50%;
	float: right;
}
.hottxt{
	position: absolute;
	display: inline-block;
	width: 45%;
	float: left;
}

/*---------------dưới xong-----------------*/

#rcontent{
	position: absolute;
	display: inline-block;
	background: white;
	width: 25%;
	height: 3000px;
	float: left;
	right: 0;
	margin-left: 15px;
}
.gocnhinchuyenmuc{
	position: relative;
	background-color: #ddd;
	width: 100%;
	padding: 1px;
	height: 1360px;
}
.gocnhinchuyenmuc img{
	width: 85%;
	margin-top: 10px;
	padding-left: 23px;
}
.gocnhinchuyenmuc p{
	font-size: 24px;
	color: #696969;;
	padding-left: 23px;
}

.gocnhinchuyenmuc h4{
	width: 85%;
	color: #696969;;
	padding-left: 23px;
}
.gocnhin{
	margin-top: 20px;
}
.docnhieu{
	margin-top: 10px;
	width: 100%;
	height: 1000px;
	float: left;
}
#docnhieunhat{
	font-size: 25px;
	width: 91%;
	padding: 6px 0px 6px 26px;
	margin-top: 0px;
	background: #ddd;
	color: #696969;
}
.docnhieu h4{
	width: 70%;
	float: left;
	color: #666;
	padding: 6px 0px 6px 20px;
	margin: 0px;
}
.docnhieu h3{
	width: 20%;
	float: left;
	text-align: center;
	color: red;
	padding-top: 10px;
}
.docnhieu hr{
	width: 100%;
	color: black;
}
.lienketxh{
	float: left;
	width: 100%;
	height: 400px;
	background-color: #ddd;
	border-radius: 6px;
	margin-top: 100px;
}
.lienketxh p{
	padding: 6px 0px 6px 20px;
	font-size: 25px;
	float: left;
	margin-top: 10px;
}
.lienketxh h5{
	padding: 6px 11px 6px 7px;
	font-size: 13px;
	text-align: center;
	border-bottom: 2px solid black;
	width: 30%;
	float:left;
	margin-left: 18px;
	margin-top: 15px;
	background: white; 	
}
#fb{
	border-bottom:2px solid blue;
}

#tw{
	border-bottom:2px solid #32c3bd;
}
#yt{
	border-bottom:2px solid #af2222;
}
#gg{
	border-bottom:2px solid red;
}
.docnhieu hr{
	width: 78%;
	margin-left:18px;
	margin-top: 186px;
}
#bss{
	width: 73%;
	text-align: left;
	border: 1px solid white;
}

#rcontent h4:hover{
	color: #000;
	cursor: pointer;
	text-decoration: underline;
}



/*phần dưới xong*/


#footer{
	 background-color: #444; 
	 color: white;
	 height: 130px;
}

#footer p{
	font-size: 25px;
	padding-left: 15%
}

#footerlink ul{
	padding-left: 14%;
	padding-top: 0px;
	margin-top: -19px
}

#footerlink li{
	list-style: none;
	padding:0px 15px;
	float: left;
}
#footerchoice li{
	font-size: 10px;
	list-style: none;
	padding:0px 15px;
	float: left;
}

#footerchoice ul{
	margin-left: 388px
}
#hr{
	padding-top: 30px;
	border-left-style: solid;
	border-left-width: 0px;
	margin-left: -18%;
	border-top-width: 0px;
	border-top-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
	padding-left: 0px
}
#copyright{
	margin-left: 434px;
}
#zent{
	position: fixed;
	display: inline-block;
	transform: rotate(90deg);
	left: -58px;
	bottom: 45%;
}
#zent img{
	height: 35px;
}
#zent img:hover{
	height: 36px;
	transition: 0.9s;
}

.txthover li:hover{
	color: #ff9a9a;
	cursor: pointer;
}

	.clear{
		clear: both;
	}